In [209]:
print("hello")

hello

In [210]:
a=10
b=15
c=a+b
print(c)

25

In [211]:
a=17
b=5
c=a-b
print(c)

12

In [212]:
b="bhavani"
b[3]

'v'

In [213]:
b="bhavani"
b[0:-1]

'bhavan'

In [214]:
b="bhavani"
b[-1::-1]

'inavahb'

In [215]:
b=[7,7.8, 7+5j,b"1010","hello",[4,9],(89,5),{56,70}]
b[3:6:1]

[b'1010', 'hello', [4, 9]]

In [216]:
a="bhavani"
a[0:4:1]

'bhav'

In [217]:
b=[7,7.8, 7+5j,b"1010","hello",[4,9],(89,5),{56,70}]
b[-1::-1]

[{56, 70}, (89, 5), [4, 9], 'hello', b'1010', (7+5j), 7.8, 7]

In [218]:
#WAS  to a print "hello world"by using shell
"hellowolrd"

'hellowolrd'

In [219]:
# WAS to print "hello world" by using print function
print("hello world")

hello world

In [220]:
# was to initilize varivable 
a=60
b=60.0
c=60+0j
d=b'1010'
e=True
f=None 
g="hello"
h=[60,61,62]
i=(60,4,6)
j={60.5,8}
k={ a:60,b:68}

In [221]:
# was to initilize multivariable-values are 150,120,250
a,b,c=150,120,250
a=150
b=120
c=250

In [222]:
a=150,120,250
print(a)

(150, 120, 250)

In [223]:
# was to print the type of the data in given value
a=10
type(a)
b=15.7
type(b)

float

In [224]:
# was to print  the address of the memory block in given value
a={10,60}
id(a)
id({10,60})

2276609934496

In [230]:
# was to print your details ,first store your details extract the values and display
name="rahul"
age=26
phone=5384780838
email="rahul@gmail.com"
height=5.5
pancard=True
print(name)
print(age)
print(name, age,phone,email,height,pancard)
rahul=["rahul",5384780838,"rahul@gmail.com",5.5,True]
rahul[2]
rahul[-1]
rahul[1]


rahul={name:'rahul',"age":26,"phone":6389709103,"email":'rahul@gamil.com','height':5.5,"pancard":True}
rahul["email"]
rahul["phone"]

rahul
26
rahul 26 5384780838 rahul@gmail.com 5.5 True

6389709103

In [235]:
#was to swap the two values with a tempvariable
a="hii"
b="bye"
temp=a
a=b
b=temp
print(a)
print(b)

bye
hii

In [236]:
# wasto swap the two values without a temp variable 
m=[10,50]
n={10,50}
m,n=n,m
print(m)
print(n)

{10, 50}
[10, 50]

In [ ]:
#was to initilize a value and print the value ,after print the value ,then reinitilize the new value to the existing variableand display the value
# 
a={'a':'pyspider'}