In [129]:
print("hello")

hello

In [130]:
a=10
b=15
c=a+b
print(c)

25

In [131]:
a=17
b=5
c=a-b
print(c)

12

In [132]:
b="bhavani"
b[3]

'v'

In [133]:
b="bhavani"
b[0:-1]

'bhavan'

In [134]:
b="bhavani"
b[-1::-1]

'inavahb'

In [135]:
b=[7,7.8, 7+5j,b"1010","hello",[4,9],(89,5),{56,70}]
b[3:6:1]

[b'1010', 'hello', [4, 9]]

In [136]:
a="bhavani"
a[0:4:1]

'bhav'

In [137]:
b=[7,7.8, 7+5j,b"1010","hello",[4,9],(89,5),{56,70}]
b[-1::-1]

[{56, 70}, (89, 5), [4, 9], 'hello', b'1010', (7+5j), 7.8, 7]

In [138]:
#WAS  to a print "hello world"by using shell
"hellowolrd"

'hellowolrd'

In [139]:
# WAS to print "hello world" by using print function
print("hello world")

hello world

In [140]:
# was to initilize varivable 
a=60
b=60.0
c=60+0j
d=b'1010'
e=True
f=None 
g="hello"
h=[60,61,62]
i=(60,4,6)
j={60.5,8}
k={ a:60,b:68}

In [141]:
# was to initilize multivariable-values are 150,120,250
a,b,c=150,120,250
a=150
b=120
c=250

In [142]:
a=150,120,250
print(a)

(150, 120, 250)

In [143]:
# was to print the type of the data in given value
a=10
type(a)
b=15.7
type(b)

float

In [144]:
# was to print  the address of the memory block in given value
a={10,60}
id(a)
id({10,60})

2094091651776

In [145]:
# was to print your details ,first store your details extract the values and display
name="rahul"
age=26
phone=5384780838
email="rahul@gmail.com"
height=5.5
pancard=True
print(name)
print(age)
print(name, age,phone,email,height,pancard)
rahul=["rahul",5384780838,"rahul@gmail.com",5.5,True]
rahul[2]
rahul[-1]
rahul[1]


rahul={name:'rahul',"age":26,"phone":6389709103,"email":'rahul@gamil.com','height':5.5,"pancard":True}
rahul["email"]
rahul["phone"]

rahul
26
rahul 26 5384780838 rahul@gmail.com 5.5 True

6389709103

In [146]:
#was to swap the two values with a tempvariable
a="hii"
b="bye"
temp=a
a=b
b=temp
print(a)
print(b)

bye
hii

In [147]:
# wasto swap the two values without a temp variable 
m=[10,50]
n={10,50}
m,n=n,m
print(m)
print(n)

{10, 50}
[10, 50]

In [148]:
#was to initilize a value and print the value ,after print the value ,then reinitilize the new value to the existing variableand display the value
# initilization
a={'a':'pyspider'}
print(a)
# fetch
a['a']
# modification
a['a']='qspiders'
print(a)
# concatenation
a=[10,20,30]
a+=[40,50,60]
print(a)
# deletion
del [a]

{'a': 'pyspider'}
{'a': 'qspiders'}
[10, 20, 30, 40, 50, 60]

In [149]:
# was to convert single to multivalue data type i/p=a=10  o/p ['1','0']
a=10 
a=str(a)
print(a)
a=list(a)
print(a)


print(list(str(a)))

10
['1', '0']
['[', "'", '1', "'", ',', ' ', "'", '0', "'", ']']

In [150]:
# was to concat the two multi value data types (str,list,tuple)
x='hello'
x+='world' 
print(x)

y=[10,20,30]
y+=[40,50,60]
print(y)

y=[10,20,30]
y+="hai"
print(y)


y=[10,20,30]
y+=(40,50,60)
print(y)

y=[10,20,30]
y+={'a''b''c'}
print(y)

helloworld
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 'h', 'a', 'i']
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 'abc']

In [151]:
# was to check the length of the collection?
t=(10,20)
len(t)
x={10:20,30:40,'a':"hai", 'b':'bye'}
len(x)

4

In [152]:
# wae to check find out the middle valueof the given collection
d=[10,20,30,40,50,60]
d[len(d)//2]

l=[10,20,30,40]
l[len(l)//2]

30

In [153]:
# was to concat the new string into the string of the given string
a="how r u"
b= "haii"
a= b+a
print(a)

haiihow r u

In [154]:
# was to concat the new string into the ending of the given string?
a="how r u"
b="haii"
a+=b
print(a)

how r uhaii

In [155]:
# was to concat the new string into the middle of the given string
a="haii"
b="hello" 
a=a+b
a+=b
print(a)

haiihellohello

In [156]:
# was to modify the new character into the middle of the given string
s="pyspider"
s[len(s)//2]
s[0:len(s)//2]+'l'+s[(len(s)//2)+1:]

'pysplder'

In [157]:
# was to modify the sequence of characterin given string
s="pyspiders"
s[0:3]+'PID'+s[6:]

'pysPIDers'

In [158]:
# was to replace the old character into a new character of the given string
s="pyspiders"
s[:-4]+'D'+s[-3:]

'pyspiDers'

In [159]:
# was to delete the specific character in the given string
s="pyspider"
s[0:2]+s[3:]

'pypider'

In [160]:
# was to delete the sequence of character in the given string
s="pyspider"
s[:3]+s[6:]

'pyser'

In [161]:
# was to concate the new value to new string in the specific position of the given string
r="haii are you"
r[0:4]+'how'+r[4:]

r[0:4+1]+"how"+r[4:]

'haii how are you'

In [162]:
# was to cancat the new value into the string of the given list
l=[1,2,3] 
id(l)
l=['a','b']+l
id(l)
print(l)

l[0:0]=['a','b']

['a', 'b', 1, 2, 3]

In [163]:
# was  to concat the new value into the ending of the given list
r=['a','b','c']
r=r+[10,20]
print(r)

y=['ramu', 'seetha']
y+=['krishna','radha']
print(y)

['a', 'b', 'c', 10, 20]
['ramu', 'seetha', 'krishna', 'radha']

In [164]:
# was to concat the new value into the middle of the given list
l=[10,150.13,True,"haii"]
l[len(l)//2:len(l)//2]=['10','20']
print(l)

[10, 150.13, '10', '20', True, 'haii']

In [165]:
# was to concat the new value into the specofic position of the given list
l=[10,153.4,True,"haii"]
l[2:2]=[100,200]
print(l)

[10, 153.4, 100, 200, True, 'haii']

In [166]:
# was to modify the new value into the specific position of given list
l=[10,153.4,True,"haii"]
l[1]=15+6j
print(l)

[10, (15+6j), True, 'haii']

In [167]:
# was to modify the new value into the staring of the given list
l=[10,15+6j,True,"haii"]
l[0]=180
print(l)

[180, (15+6j), True, 'haii']

In [168]:
# was to modify the new value into the ending of the given list
l=[10,15+6j,True,"haii"]
l[-1]="hello world"
print(l)

[10, (15+6j), True, 'hello world']

In [169]:
# was to modify the new value into the middle of given list
l=[10,15+6j,True,"haii"]
l[len(l)//2]=["abc","cde"]
print(l)

[10, (15+6j), ['abc', 'cde'], 'haii']

In [170]:
# was to  modify the first 4 position values into a given list
k=[1,2,3,4,5,6,7,8,9]
k[0:4]=['a','b','c','d']
print(k)

['a', 'b', 'c', 'd', 5, 6, 7, 8, 9]

In [171]:
# was to modufy the sequence of value into a given list
k=[1,2,3,4,5,6,7,8,9]
k[0:7:2]=['a','b','c','d']
print(k)

['a', 2, 'b', 4, 'c', 6, 'd', 8, 9]

In [172]:
# was to delete the value in the specific  position of the given list
k=[1,2,3,4,5,6,7,8,9]
del k[4]
print(k)

[1, 2, 3, 4, 6, 7, 8, 9]

In [173]:
# was to delete the value in the new value into the ending of the  list
k=[1,2,3,4,5,6,7,8,9]
del k[-1] 
print(k)

[1, 2, 3, 4, 5, 6, 7, 8]

In [174]:
# was to delete the middle of the list
k=[1,2,3,4,5,6,7,8,9]
del k[len(k)//2] 
print(k)

[1, 2, 3, 4, 6, 7, 8, 9]

In [175]:
# was to concat the value into string of the tuple
b=(1,2,4,5,6,3)
b=(7,8)+b
print(b)

(7, 8, 1, 2, 4, 5, 6, 3)

In [176]:
# was to concat the value into middle of the tuple
k=(1,2,3,4,5,6)
len(k)//2
k=k[:3]+(7,8)+k[3::]

In [177]:
# was to cancate the value into  the ending of the tuple
k=(1,2,3,4,5,6)
k=k+(7,8)
print(k)

(1, 2, 3, 4, 5, 6, 7, 8)

In [178]:
# was to modify the sequence of values in given tuple
k=(1,2,3,4,5,6)
k=k[0:3]+(7.8,)+k[3:]
print(k)

(1, 2, 3, 7.8, 4, 5, 6)

In [179]:
# was to delete the sequence of values in given tuple
k=(1,2,3,4,5,6)
k=k[0:3]+k[4:]
print(k)

(1, 2, 3, 5, 6)

In [180]:
# was to cancat the new value  into the set
s={1,2,3,4,5,6}
id(s)
s=s|{10,20,"a"}
print(s)
id(s)

{1, 2, 3, 4, 5, 6, 10, 20, 'a'}

2094091652448

In [181]:
# was to delete the specific value into the set
s={1,2,3,4,5,6,10,20,"A"}
id(s)
s=s-{4,5,6}
print(s)

{1, 2, 3, 10, 'A', 20}

In [182]:
# was to concate the new key and value into the dict
s={"hai":"bye","good":"bad","life":"am"}
s["happy"]="sad"
print(s)

{'hai': 'bye', 'good': 'bad', 'life': 'am', 'happy': 'sad'}

In [183]:
# was to delete the specific key and value in the given dict 
d={'a':150, 'b':750,'c':500,'d':780}
del d['c']
print(d)

{'a': 150, 'b': 750, 'd': 780}

In [184]:
# was to modify the specific value in the given dict
d={'e':150, 'b':750,'c':500,'d':780}
d["e"]=100
print(d)

{'e': 100, 'b': 750, 'c': 500, 'd': 780}

In [185]:
# was to concate the list value and tuple values by using tupe casting
l=['a','b','c']
t=(10,30,40)
l+ list(t)

['a', 'b', 'c', 10, 30, 40]

In [186]:
# was to cancate the list value and tuple value without using typecasting
l=['a','b','c']
t=(10,30,40)
l+=t
print(l)

['a', 'b', 'c', 10, 30, 40]

In [187]:
# was to check the given number is divisible by 3
n=9
res=n%3
print(res)
res==0

0

True

In [188]:
# was to check the given number ids divible by 2 and 6
n=12
print(n%2==0 and n%6==0)

True

In [189]:
# wae to check the last digit is divisible by 3from given integer number ,(with typecasting)
n=1996
print(((n%10)%3)==0)

True

In [190]:
# wae to check the last  digit is divisible by 3 given integer number (with type casting)
n=2026
print(int(str(n)[-1])%3==0)

True

In [191]:
# was to check the given number is greater than 150 
a=200
print(a>150)

True

In [192]:
# wae to check the given number is greater than or equal to 100
a=200
print(a>=100)

True

In [193]:
# wae to check the given number is less than 150,print result
a=100
print(a<150)

True

In [194]:
# was  to check the given number is less than or equal to 100
a=100
print(a<=100)

True

In [195]:
# was  to check  the given numberb is greater than 15&less than 24
a=20
print(a>15 &a<24)

True

In [196]:
# wae to check the given number is even
a=10
print(a%2==0)

True

In [197]:
# wae to check the given number is odd
a=9
print(a%2!=0)

True

In [198]:
# wae to check perform the replication of a given string with 6
a="abc"
print(a*6)

abcabcabcabcabcabc

In [199]:
# wae to check given number is divisible by 3 and also the number should be greater than 22
a=24
print(a%3==0 and a>22)

True

In [200]:
# wae to check perform the length if the collection is even or not
g="pyspiders"
len(g)
print(len(g)%2==0)

g="pyspider"
len(g)
print(len(g)%2==0)

False
True

In [201]:
# wae to check perform the length of the collection is less 55 and greater than 16
a="abcdefghijklmnopqrstuvwxyz"
print(len(a)>16 and len(a)<55)

True

In [202]:
# wae  to check perform the length  of the collection is divisible by 5 and odd
a="abcdefghijklmnopqrstuvwxyz"
print(len(a)%5==0 and len(a)%2!=0)

False

In [203]:
# wae to check extrat the middle position of a goven collection os eother str,list ,tuple
s=[10,('a','b'),[10,20]]
res=type(s[len(s)//2])

In [204]:
# wae to check to the given number is greater than 20 and less than 30 and it should be even
n=25
print(n>20 & n<30)

True

In [205]:
# wae to check the given number is even and it should be less than 120
n=100
print(n%2==0 & n<120)

True

In [206]:
# wae  to check the given number is even and present from 40 to 70
n=44
print(n%2==0)

True

In [207]:
# wae to check the given number is odd and it should be greater than 97
n=99
print(n%2!=0 & n>97)

False

In [208]:
# wae to check the given number is less than 122 and greater than 48 and the number shuold be divisible by 4
a=60
print(a<122&a>48&a%4==0)

False

In [209]:
# was  to check the given number is divisible by 3 or 5 displaying the value
n=30
print(n%3==0 & n%5==0)

True

In [210]:
# wae to check the number in between 100 to 200 including the limit
n=150
print (100<=150 and 150<=200)

True

In [211]:
# was to check the given number is in between 100 to 200
n=150
print(100<150 and 150<200)

True

In [212]:
# wae to check  the given string last character ascii value should be divisible by 5 or not
s='apple'
print(ord(s[-1])%5==0)

False

In [213]:
# was  to check the given number is present 60 to 130 and the number should be divisible by 3 anf 4 and tha last digit shuld be greater than 9
n=129
print(60<=n<=130 and n%3==0 and n%4==0 and n%10>9)

False

In [214]:
# wae to check the given number is even or less than 25
n=24
print(n % 2==0 or n<25)

True

In [215]:
# wae to check the given number even is greater than 25
n=30
print(n%2==0 or n>25)

True

In [216]:
# wae to check the given number is divisible by either 3 or 5
n=30
print(n%3==0 or n%5==0)

True

In [217]:
# wae t0 check the given number is not an even number 
n=5
print(n%2!=0)

True

In [218]:
# wae to check the given number is not an odd number
n=10
print(n%2==0)

True

In [219]:
# wae to check the given number is not a divisible by 3
n=16
print(n%3!=0)

True

In [220]:
# wae to check the given number is not a divisible by 3 and 5
n=16
print(n%3!=0 and n%5!=0)

True

In [221]:
# wae to check the given number not a divisible by 3 or 5
n=16
print(n%3!=0 or n%5!=0)

True

In [114]:
# wae  to check the given character ascii value is not divisible by 5
n='B'
print(ord('B')%5!=0)

True

In [115]:
#wae to check find out the ascii character in a given number
n=65
print(chr(n))

A

In [116]:
# wae to check to find out ascii values in a given character
n="A"
print(ord(n))

65

In [222]:
# wae to check given character is upper case or not
ch='G'
print (not('A'<=ch<='Z'))

False

In [234]:
# wae to check the given character is the lowercase
ch='a'
print('a'<=ch<='z')

True

In [245]:
# wae to check the given character is the alphabet
ch='s'
print('A'<=ch<='Z'or 'a'<=ch<='z')

True

In [255]:
# wae to check the given character is the ascii number
ch='5'
print('0'<=ch<='9')

True

In [280]:
# wae to check the given character is the  a special charater
ch='$'
print (not('A'<= ch<='z'or 'a'<=ch<='z' or '0'<=ch<='9'))

True

In [336]:
# wae to check the given character should not be uppercase
ch='A'
print (not('A'<=ch<='Z'))

False

In [343]:
# wae to check  the given character should not be lowercase
ch='s'
print (not('a'<=ch<='z'))

False

In [349]:
#  wae to check  the given character should not be alphabet
ch='a'
print(not('A'<='Z'or 'a'<='z'))

False

In [358]:
#  wae to check  the given character should not be ascii number
ch='6'
print ( not('0'<=ch<='9'))

False

In [359]:
# wae to check  the given character should not be a special character
ch='$'
print (not('A'<=ch<='Z' or 'a'<=ch<='z'or '0'<=ch<='9'))

True

In [360]:
#wae to check  the given character is a vowel 
ch='A'
print(ch=='A' or ch=='E' or ch=='I'or ch=='O' or ch=='U' or ch=='a'or ch=='e'or ch=='i' or ch=='o'or ch=='u' )

True

In [363]:
#  wae to check  the given character is consonant 
ch='r'
print(not(ch in 'aeiouAEIOU'))

True