In [704]:
print("hello")

hello

In [705]:
a=10
b=15
c=a+b
print(c)

25

In [706]:
a=17
b=5
c=a-b
print(c)

12

In [707]:
b="bhavani"
b[3]

'v'

In [708]:
b="bhavani"
b[0:-1]

'bhavan'

In [709]:
b="bhavani"
b[-1::-1]

'inavahb'

In [710]:
b=[7,7.8, 7+5j,b"1010","hello",[4,9],(89,5),{56,70}]
b[3:6:1]

[b'1010', 'hello', [4, 9]]

In [711]:
a="bhavani"
a[0:4:1]

'bhav'

In [712]:
b=[7,7.8, 7+5j,b"1010","hello",[4,9],(89,5),{56,70}]
b[-1::-1]

[{56, 70}, (89, 5), [4, 9], 'hello', b'1010', (7+5j), 7.8, 7]

In [713]:
#1 WAS  to a print "hello world"by using shell
"hellowolrd"

'hellowolrd'

In [714]:
#2 WAS to print "hello world" by using print function
print("hello world")

hello world

In [715]:
#3 was to initilize varivable 
a=60
b=60.0
c=60+0j
d=b'1010'
e=True
f=None 
g="hello"
h=[60,61,62]
i=(60,4,6)
j={60.5,8}
k={ a:60,b:68}

In [716]:
#4 was to initilize multivariable-values are 150,120,250
a,b,c=150,120,250
a=150
b=120
c=250

In [717]:
a=150,120,250
print(a)

(150, 120, 250)

In [718]:
#5was to print the type of the data in given value
a=10
type(a)
b=15.7
type(b)

float

In [719]:
#6 was to print  the address of the memory block in given value
a={10,60}
id(a)
id({10,60})

1279051962336

In [720]:
#7 was to print your details ,first store your details extract the values and display
name="rahul"
age=26
phone=5384780838
email="rahul@gmail.com"
height=5.5
pancard=True
print(name)
print(age)
print(name, age,phone,email,height,pancard)
rahul=["rahul",5384780838,"rahul@gmail.com",5.5,True]
rahul[2]
rahul[-1]
rahul[1]


rahul={name:'rahul',"age":26,"phone":6389709103,"email":'rahul@gamil.com','height':5.5,"pancard":True}
rahul["email"]
rahul["phone"]

rahul
26
rahul 26 5384780838 rahul@gmail.com 5.5 True

6389709103

In [721]:
#8 was to swap the two values with a tempvariable
a="hii"
b="bye"
temp=a
a=b
b=temp
print(a)
print(b)

bye
hii

In [722]:
#9 wasto swap the two values without a temp variable 
m=[10,50]
n={10,50}
m,n=n,m
print(m)
print(n)

{10, 50}
[10, 50]

In [723]:
#10 was to initilize a value and print the value ,after print the value ,then reinitilize the new value to the existing variableand display the value
# initilization
a={'a':'pyspider'}
print(a)
# fetch
a['a']
# modification
a['a']='qspiders'
print(a)
# concatenation
a=[10,20,30]
a+=[40,50,60]
print(a)
# deletion
del [a]

{'a': 'pyspider'}
{'a': 'qspiders'}
[10, 20, 30, 40, 50, 60]

In [23]:
#11 was to convert single to multivalue data type i/p=a=10  o/p ['1','0']
a=10 
a=str(a)
print(a)
a=list(a)
print(a)


print(list(str(a)))

10
['1', '0']
['[', "'", '1', "'", ',', ' ', "'", '0', "'", ']']

In [ ]:
# 12was to concat the two multi value data types (str,list,tuple)
x='hello'
x+='world' 
print(x)

y=[10,20,30]
y+=[40,50,60]
print(y)

y=[10,20,30]
y+="hai"
print(y)


y=[10,20,30]
y+=(40,50,60)
print(y)

y=[10,20,30]
y+={'a''b''c'}
print(y)

helloworld
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 'h', 'a', 'i']
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 'abc']

In [ ]:
#13 was to check the length of the collection?
t=(10,20)
len(t)
x={10:20,30:40,'a':"hai", 'b':'bye'}
len(x)

4

In [ ]:
#14 wae to check find out the middle valueof the given collection
d=[10,20,30,40,50,60]
d[len(d)//2]

l=[10,20,30,40]
l[len(l)//2]

30

In [ ]:
# 15was to concat the new string into the string of the given string
a="how r u"
b= "haii"
a= b+a
print(a)

haiihow r u

In [ ]:
#16 was to concat the new string into the ending of the given string?
a="how r u"
b="haii"
a+=b
print(a)

how r uhaii

In [ ]:
#17 was to concat the new string into the middle of the given string
a="haii"
b="hello" 
a=a+b
a+=b
print(a)

haiihellohello

In [ ]:
# 18 was to modify the new character into the middle of the given string
s="pyspider"
s[len(s)//2]
s[0:len(s)//2]+'l'+s[(len(s)//2)+1:]

'pysplder'

In [ ]:
#19 was to modify the sequence of characterin given string
s="pyspiders"
s[0:3]+'PID'+s[6:]

'pysPIDers'

In [ ]:
#20 was to replace the old character into a new character of the given string
s="pyspiders"
s[:-4]+'D'+s[-3:]

'pyspiDers'

In [ ]:
# 21 was to delete the specific character in the given string
s="pyspider"
s[0:2]+s[3:]

'pypider'

In [ ]:
#22 was to delete the sequence of character in the given string
s="pyspider"
s[:3]+s[6:]

'pyser'

In [ ]:
#23 was to concate the new value to new string in the specific position of the given string
r="haii are you"
r[0:4]+'how'+r[4:]

r[0:4+1]+"how"+r[4:]

'haii how are you'

In [ ]:
#24 was to cancat the new value into the string of the given list
l=[1,2,3] 
id(l)
l=['a','b']+l
id(l)
print(l)

l[0:0]=['a','b']

['a', 'b', 1, 2, 3]

In [ ]:
#25 was  to concat the new value into the ending of the given list
r=['a','b','c']
r=r+[10,20]
print(r)

y=['ramu', 'seetha']
y+=['krishna','radha']
print(y)

['a', 'b', 'c', 10, 20]
['ramu', 'seetha', 'krishna', 'radha']

In [ ]:
#26 was to concat the new value into the middle of the given list
l=[10,150.13,True,"haii"]
l[len(l)//2:len(l)//2]=['10','20']
print(l)

[10, 150.13, '10', '20', True, 'haii']

In [ ]:
# 27was to concat the new value into the specofic position of the given list
l=[10,153.4,True,"haii"]
l[2:2]=[100,200]
print(l)

[10, 153.4, 100, 200, True, 'haii']

In [ ]:
#28 was to modify the new value into the specific position of given list
l=[10,153.4,True,"haii"]
l[1]=15+6j
print(l)

[10, (15+6j), True, 'haii']

In [ ]:
#29 was to modify the new value into the staring of the given list
l=[10,15+6j,True,"haii"]
l[0]=180
print(l)

[180, (15+6j), True, 'haii']

In [ ]:
# 30was to modify the new value into the ending of the given list
l=[10,15+6j,True,"haii"]
l[-1]="hello world"
print(l)

[10, (15+6j), True, 'hello world']

In [ ]:
#31 was to modify the new value into the middle of given list
l=[10,15+6j,True,"haii"]
l[len(l)//2]=["abc","cde"]
print(l)

[10, (15+6j), ['abc', 'cde'], 'haii']

In [ ]:
# 32was to  modify the first 4 position values into a given list
k=[1,2,3,4,5,6,7,8,9]
k[0:4]=['a','b','c','d']
print(k)

['a', 'b', 'c', 'd', 5, 6, 7, 8, 9]

In [ ]:
# 33 was to modufy the sequence of value into a given list
k=[1,2,3,4,5,6,7,8,9]
k[0:7:2]=['a','b','c','d']
print(k)

['a', 2, 'b', 4, 'c', 6, 'd', 8, 9]

In [ ]:
#34 was to delete the value in the specific  position of the given list
k=[1,2,3,4,5,6,7,8,9]
del k[4]
print(k)

[1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
# 35was to delete the value in the new value into the ending of the  list
k=[1,2,3,4,5,6,7,8,9]
del k[-1] 
print(k)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 36 was to delete the middle of the list
k=[1,2,3,4,5,6,7,8,9]
del k[len(k)//2] 
print(k)

[1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
# 37 was to concat the value into string of the tuple
b=(1,2,4,5,6,3)
b=(7,8)+b
print(b)

(7, 8, 1, 2, 4, 5, 6, 3)

In [ ]:
#38  was to concat the value into middle of the tuple
k=(1,2,3,4,5,6)
len(k)//2
k=k[:3]+(7,8)+k[3::]

In [ ]:
#39 was to cancate the value into  the ending of the tuple
k=(1,2,3,4,5,6)
k=k+(7,8)
print(k)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
#40 was to modify the sequence of values in given tuple
k=(1,2,3,4,5,6)
k=k[0:3]+(7.8,)+k[3:]
print(k)

(1, 2, 3, 7.8, 4, 5, 6)

In [ ]:
#41 was to delete the sequence of values in given tuple
k=(1,2,3,4,5,6)
k=k[0:3]+k[4:]
print(k)

(1, 2, 3, 5, 6)

In [ ]:
#42 was to cancat the new value  into the set
s={1,2,3,4,5,6}
id(s)
s=s|{10,20,"a"}
print(s)
id(s)

{1, 2, 3, 4, 5, 6, 10, 'a', 20}

1279051960992

In [ ]:
# 43was to delete the specific value into the set
s={1,2,3,4,5,6,10,20,"A"}
id(s)
s=s-{4,5,6}
print(s)

{1, 2, 3, 'A', 10, 20}

In [ ]:
# 44 was to concate the new key and value into the dict
s={"hai":"bye","good":"bad","life":"am"}
s["happy"]="sad"
print(s)

{'hai': 'bye', 'good': 'bad', 'life': 'am', 'happy': 'sad'}

In [ ]:
#47 was to delete the specific key and value in the given dict 
d={'a':150, 'b':750,'c':500,'d':780}
del d['c']
print(d)

{'a': 150, 'b': 750, 'd': 780}

In [ ]:
#48 was to modify the specific value in the given dict
d={'e':150, 'b':750,'c':500,'d':780}
d["e"]=100
print(d)

{'e': 100, 'b': 750, 'c': 500, 'd': 780}

In [ ]:
#49 was to concate the list value and tuple values by using tupe casting
l=['a','b','c']
t=(10,30,40)
l+ list(t)

['a', 'b', 'c', 10, 30, 40]

In [ ]:
#50 was to cancate the list value and tuple value without using typecasting
l=['a','b','c']
t=(10,30,40)
l+=t
print(l)

['a', 'b', 'c', 10, 30, 40]

In [ ]:
#51 was to check the given number is divisible by 3
n=9
res=n%3
print(res)
res==0

0

True

In [ ]:
# 52was to check the given number ids divible by 2 and 6
n=12
print(n%2==0 and n%6==0)

True

In [ ]:
# 53wae to check the last digit is divisible by 3from given integer number ,(with typecasting)
n=1996
print(((n%10)%3)==0)

True

In [ ]:
# 54wae to check the last  digit is divisible by 3 given integer number (with type casting)
n=2026
print(int(str(n)[-1])%3==0)

True

In [ ]:
#55 was to check the given number is greater than 150 
a=200
print(a>150)

True

In [ ]:
#56 wae to check the given number is greater than or equal to 100
a=200
print(a>=100)

True

In [ ]:
#57 wae to check the given number is less than 150,print result
a=100
print(a<150)

True

In [ ]:
# 58was  to check the given number is less than or equal to 100
a=100
print(a<=100)

True

In [ ]:
# 59was  to check  the given numberb is greater than 15&less than 24
a=20
print(a>15 &a<24)

True

In [ ]:
#60 wae to check the given number is even
a=10
print(a%2==0)

True

In [ ]:
#61 wae to check the given number is odd
a=9
print(a%2!=0)

True

In [ ]:
#62 wae to check perform the replication of a given string with 6
a="abc"
print(a*6)

abcabcabcabcabcabc

In [ ]:
#63 wae to check given number is divisible by 3 and also the number should be greater than 22
a=24
print(a%3==0 and a>22)

True

In [ ]:
# 64 wae to check perform the length if the collection is even or not
g="pyspiders"
len(g)
print(len(g)%2==0)

g="pyspider"
len(g)
print(len(g)%2==0)

False
True

In [ ]:
#65 wae to check perform the length of the collection is less 55 and greater than 16
a="abcdefghijklmnopqrstuvwxyz"
print(len(a)>16 and len(a)<55)

True

In [ ]:
#66 wae  to check perform the length  of the collection is divisible by 5 and odd
a="abcdefghijklmnopqrstuvwxyz"
print(len(a)%5==0 and len(a)%2!=0)

False

In [ ]:
#67 wae to check extrat the middle position of a goven collection os eother str,list ,tuple
s=[10,('a','b'),[10,20]]
res=type(s[len(s)//2])

In [ ]:
#68 wae to check to the given number is greater than 20 and less than 30 and it should be even
n=25
print(n>20 & n<30)

True

In [ ]:
#69 wae to check the given number is even and it should be less than 120
n=100
print(n%2==0 & n<120)

True

In [ ]:
#70 wae  to check the given number is even and present from 40 to 70
n=44
print(n%2==0)

True

In [ ]:
#71 wae to check the given number is odd and it should be greater than 97
n=99
print(n%2!=0 & n>97)

False

In [ ]:
#72 wae to check the given number is less than 122 and greater than 48 and the number shuold be divisible by 4
a=60
print(a<122&a>48&a%4==0)

False

In [ ]:
#73 was  to check the given number is divisible by 3 or 5 displaying the value
n=30
print(n%3==0 & n%5==0)

True

In [ ]:
#74 wae to check the number in between 100 to 200 including the limit
n=150
print (100<=150 and 150<=200)

True

In [ ]:
# 75was to check the given number is in between 100 to 200
n=150
print(100<150 and 150<200)

True

In [ ]:
#76 wae to check  the given string last character ascii value should be divisible by 5 or not
s='apple'
print(ord(s[-1])%5==0)

False

In [ ]:
#77 was  to check the given number is present 60 to 130 and the number should be divisible by 3 anf 4 and tha last digit shuld be greater than 9
n=129
print(60<=n<=130 and n%3==0 and n%4==0 and n%10>9)

False

In [ ]:
#78 wae to check the given number is even or less than 25
n=24
print(n % 2==0 or n<25)

True

In [ ]:
#79 wae to check the given number even is greater than 25
n=30
print(n%2==0 or n>25)

True

In [ ]:
#80 wae to check the given number is divisible by either 3 or 5
n=30
print(n%3==0 or n%5==0)

True

In [ ]:
#81 wae t0 check the given number is not an even number 
n=5
print(n%2!=0)

True

In [ ]:
#82 wae to check the given number is not an odd number
n=10
print(n%2==0)

True

In [ ]:
#83 wae to check the given number is not a divisible by 3
n=16
print(n%3!=0)

True

In [ ]:
#84 wae to check the given number is not a divisible by 3 and 5
n=16
print(n%3!=0 and n%5!=0)

True

In [ ]:
#85 wae to check the given number not a divisible by 3 or 5
n=16
print(n%3!=0 or n%5!=0)

True

In [ ]:
#86 wae  to check the given character ascii value is not divisible by 5
n='B'
print(ord('B')%5!=0)

True

In [ ]:
# 87 wae to check find out the ascii character in a given number
n=65
print(chr(n))

A

In [ ]:
#88 wae to check to find out ascii values in a given character
n="A"
print(ord(n))

65

In [ ]:
#89 wae to check given character is upper case or not
ch='G'
print (not('A'<=ch<='Z'))

False

In [ ]:
#90 wae to check the given character is the lowercase
ch='a'
print('a'<=ch<='z')

True

In [ ]:
#91 wae to check the given character is the alphabet
ch='s'
print('A'<=ch<='Z'or 'a'<=ch<='z')

True

In [ ]:
#92 wae to check the given character is the ascii number
ch='5'
print('0'<=ch<='9')

True

In [ ]:
#93 wae to check the given character is the  a special charater
ch='$'
print (not('A'<= ch<='z'or 'a'<=ch<='z' or '0'<=ch<='9'))

True

In [ ]:
#94 wae to check the given character should not be uppercase
ch='A'
print (not('A'<=ch<='Z'))

False

In [ ]:
#95 wae to check  the given character should not be lowercase
ch='s'
print (not('a'<=ch<='z'))

False

In [ ]:
#96  wae to check  the given character should not be alphabet
ch='a'
print(not('A'<='Z'or 'a'<='z'))

False

In [ ]:
# 97 wae to check  the given character should not be ascii number
ch='6'
print ( not('0'<=ch<='9'))

False

In [ ]:
#98 wae to check  the given character should not be a special character
ch='$'
print (not('A'<=ch<='Z' or 'a'<=ch<='z'or '0'<=ch<='9'))

True

In [ ]:
#99 wae to check  the given character is a vowel 
ch='A'
print(ch=='A' or ch=='E' or ch=='I'or ch=='O' or ch=='U' or ch=='a'or ch=='e'or ch=='i' or ch=='o'or ch=='u' )

True

In [ ]:
# 100 wae to check  the given character is consonant 
ch='r'
print(not(ch in 'aeiouAEIOU'))

True

In [ ]:
 #101 was to convert uppercase to lowercase in given character
ch='A'
chr(ord(ch)+32)

'a'

In [ ]:
# 102 was to convert lowercase to uppercase in a given character
ch='a'
chr(ord(ch)-32)

'A'

In [ ]:
# 103 was to extract the previous character in the given character
ch='B'
chr(ord(ch)-1)

'A'

In [ ]:
# 104 was to extract the next character in the given character
ch='B'
chr(ord(ch)+1)

'C'

In [ ]:
# 105 wae to check the given character is converted to ASCII value and the value is even as well as the character should be lowercase
ch='d'
len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<'z'

True

In [ ]:
# 106 wae to check the given character is converted to ASCII value and the value is even as well as the character should be uppercase
ch='B'
len(ch)==1 and ord(ch)%2==0 and 'A'<=ch<='Z'

True

In [ ]:
# 107 wae to check  which the given  number is converted to character is not a special symbol or not  
n=58
'A'<=chr(n)<='z' or 'a'<=chr(n)<='z' or '0'<=chr(n)<='9'

False

In [ ]:
# 108 wae to check the given number of the ASCII character is a vowel or not
n=65
chr(n) in 'AEIOUaeiou'

True

In [730]:
# 109 wae to check if the  first and second characters are sequence or not in a given string
str='ABCD'
ord(str[0])+1==ord(str[1])

True

In [731]:
# 110 wae to check the given character ASCII value should either greater than 50 or greater than 25 or less than 112
ch='0'
ord(ch)>25 or ord(ch)<112

True

In [732]:
# 111 wae to given number is increased by 1
m=10
m+=1

In [733]:
# 112 wae to given number is incresed  by 2
m=10
m+=2
print(m)

12

In [736]:
# 113 wae to given number is decreased by 1
m=10
m-=1 
print(m)

9

In [737]:
# 114 wae to given number is decresed by 3
m=10
m-=3
print(m)

7

In [738]:
# 115 wae to check the given integer number is present in the collection
n=10
coll=[10,50,60,70,20]
n in coll

True

In [741]:
# 116 wae to check perform the addition operation on A and B value and final result should be updated to A
a=50
b=60
a=a+b
print(a)

110

In [742]:
# 117 wae to check the given value is present in the collection
st="p"
coll="PYSPIDERS"
st in coll

False

In [744]:
# 118 wae to check the given list is present in the list 
st=[10,"hai"]
coll=[10,'hai',{10,20},[10,'hai']]
st in coll

True

In [55]:
# 119 wae to check the given dict value is present tuple
d=(
    {'a':(10,29),'b':(5)}
)
(5) in d

False

In [ ]:
# 120  wae to check given value as integer value or not
b=15
type(15)
type(b)==int

In [762]:
#121 wae to check given value as string value or not
b="hai"
type(b)
type(b)==str

False

In [764]:
# 122 wae to check given is single value or not
c=b'1010'
type(c) in [int,float,complex,bool,bytes,type(None)]

True

In [765]:
# 123  wae to check given is value should not be a single value
c='pys'
type(c) not in [int,float,complex,bool, bytes,type(None)]

True

In [768]:
# 124  wae to check given  value multi  value or not 
c=[10,50]
type(c) in [str,list, tuple,set, dict]

True

In [769]:
# 125 wae to check  given value is a mutable value or not 
c='pys'
type(c) in [list ,set,dict]

False

In [1]:
# 126 wae  to check the given value  is am immutable value  or not 
c="pys"
type(c) in [int,float,complex,bool,bytes,str,tuple ]

True

In [3]:
# 127 wae ti check if a given value is divisible  by 6 as well as that value present in the collection or not
c=36 
c%6==0 and c in [10,26,48,36,105]

True

In [6]:
# 128 wae to check perform the bitwise and operation given value are 15 and 19
m=15
n=19
m&n

3

In [7]:
# 129wae to check perform the bitwise or operation given value are 115 and 79
m=115
n=79
m|n

127

In [8]:
# 130 wae to check perform the bitwise xor operation given value are 56 and 22
m=56
n=22
m^n

46

In [9]:
# 131 wae to perform the bitwise not operation given value are 15 
m=15
~m

-16

In [10]:
# 132 wae to perform the bitwise leftshift with 32 and skipping value is 3
m=32
n=3
m<<n

256

In [11]:
#133  wae to perform the bitwise rightshift with 25 and skipping value is 2
m=25
n=2
m>>n

6

In [12]:
# 134 to find out the output of a given condition
(10+20*80 and 10**3)or({10,20}or not([15-6]))

1000

In [15]:
# 135  wae to check if given key is present in dict or not
d={'a':10,'haii':'bye',(100,):(10,20)}
k='a'
k in d
print(d)

{'a': 10, 'haii': 'bye', (100,): (10, 20)}

In [16]:
# 136 wae to check  if value present in the dict or not
d={'a':10,'haii':'bye',(100,):(10,20)}
k=10
k in d

False

In [17]:
# 137 wae to check  if  key is not  present in the dict or not
d={'a':10,'haii':'bye',(100,):(10,20)}
k=(100,)
k not in d

False

In [20]:
# 138  wae to check  if  key  value pair is  present in the dict or not

d={'a':10,'haii':'bye',(100,):(10,20)}
k=('a',10)
k in d

False

In [21]:
# 139 wae to check if two value are pointing to the same address oe not
a=15
b=15
a is b

True

In [22]:
# 140 wae to check both the  value  should be integer and both value are pointing to the same address or not
a=256
b=256
type(a)==int and type(b)==int and a is b

True