In [546]:
print("hello")

hello

In [547]:
a=10
b=15
c=a+b
print(c)

25

In [548]:
a=17
b=5
c=a-b
print(c)

12

In [549]:
b="bhavani"
b[3]

'v'

In [550]:
b="bhavani"
b[0:-1]

'bhavan'

In [551]:
b="bhavani"
b[-1::-1]

'inavahb'

In [552]:
b=[7,7.8, 7+5j,b"1010","hello",[4,9],(89,5),{56,70}]
b[3:6:1]

[b'1010', 'hello', [4, 9]]

In [553]:
a="bhavani"
a[0:4:1]

'bhav'

In [554]:
b=[7,7.8, 7+5j,b"1010","hello",[4,9],(89,5),{56,70}]
b[-1::-1]

[{56, 70}, (89, 5), [4, 9], 'hello', b'1010', (7+5j), 7.8, 7]

In [555]:
#WAS  to a print "hello world"by using shell
"hellowolrd"

'hellowolrd'

In [556]:
# WAS to print "hello world" by using print function
print("hello world")

hello world

In [557]:
# was to initilize varivable 
a=60
b=60.0
c=60+0j
d=b'1010'
e=True
f=None 
g="hello"
h=[60,61,62]
i=(60,4,6)
j={60.5,8}
k={ a:60,b:68}

In [558]:
# was to initilize multivariable-values are 150,120,250
a,b,c=150,120,250
a=150
b=120
c=250

In [559]:
a=150,120,250
print(a)

(150, 120, 250)

In [560]:
# was to print the type of the data in given value
a=10
type(a)
b=15.7
type(b)

float

In [561]:
# was to print  the address of the memory block in given value
a={10,60}
id(a)
id({10,60})

2511973880928

In [562]:
# was to print your details ,first store your details extract the values and display
name="rahul"
age=26
phone=5384780838
email="rahul@gmail.com"
height=5.5
pancard=True
print(name)
print(age)
print(name, age,phone,email,height,pancard)
rahul=["rahul",5384780838,"rahul@gmail.com",5.5,True]
rahul[2]
rahul[-1]
rahul[1]


rahul={name:'rahul',"age":26,"phone":6389709103,"email":'rahul@gamil.com','height':5.5,"pancard":True}
rahul["email"]
rahul["phone"]

rahul
26
rahul 26 5384780838 rahul@gmail.com 5.5 True

6389709103

In [563]:
#was to swap the two values with a tempvariable
a="hii"
b="bye"
temp=a
a=b
b=temp
print(a)
print(b)

bye
hii

In [564]:
# wasto swap the two values without a temp variable 
m=[10,50]
n={10,50}
m,n=n,m
print(m)
print(n)

{10, 50}
[10, 50]

In [565]:
#was to initilize a value and print the value ,after print the value ,then reinitilize the new value to the existing variableand display the value
# initilization
a={'a':'pyspider'}
print(a)
# fetch
a['a']
# modification
a['a']='qspiders'
print(a)
# concatenation
a=[10,20,30]
a+=[40,50,60]
print(a)
# deletion
del [a]

{'a': 'pyspider'}
{'a': 'qspiders'}
[10, 20, 30, 40, 50, 60]

In [566]:
# was to convert single to multivalue data type i/p=a=10  o/p ['1','0']
a=10 
a=str(a)
print(a)
a=list(a)
print(a)


print(list(str(a)))

10
['1', '0']
['[', "'", '1', "'", ',', ' ', "'", '0', "'", ']']

In [567]:
# was to concat the two multi value data types (str,list,tuple)
x='hello'
x+='world' 
print(x)

y=[10,20,30]
y+=[40,50,60]
print(y)

y=[10,20,30]
y+="hai"
print(y)


y=[10,20,30]
y+=(40,50,60)
print(y)

y=[10,20,30]
y+={'a''b''c'}
print(y)

helloworld
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 'h', 'a', 'i']
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 'abc']

In [568]:
# was to check the length of the collection?
t=(10,20)
len(t)
x={10:20,30:40,'a':"hai", 'b':'bye'}
len(x)

4

In [569]:
# wae to check find out the middle valueof the given collection
d=[10,20,30,40,50,60]
d[len(d)//2]

l=[10,20,30,40]
l[len(l)//2]

30

In [570]:
# was to concat the new string into the string of the given string
a="how r u"
b= "haii"
a= b+a
print(a)

haiihow r u

In [571]:
# was to concat the new string into the ending of the given string?
a="how r u"
b="haii"
a+=b
print(a)

how r uhaii

In [572]:
# was to concat the new string into the middle of the given string
a="haii"
b="hello" 
a=a+b
a+=b
print(a)

haiihellohello

In [573]:
# was to modify the new character into the middle of the given string
s="pyspider"
s[len(s)//2]
s[0:len(s)//2]+'l'+s[(len(s)//2)+1:]

'pysplder'

In [574]:
# was to modify the sequence of characterin given string
s="pyspiders"
s[0:3]+'PID'+s[6:]

'pysPIDers'

In [575]:
# was to replace the old character into a new character of the given string
s="pyspiders"
s[:-4]+'D'+s[-3:]

'pyspiDers'

In [576]:
# was to delete the specific character in the given string
s="pyspider"
s[0:2]+s[3:]

'pypider'

In [577]:
# was to delete the sequence of character in the given string
s="pyspider"
s[:3]+s[6:]

'pyser'

In [578]:
# was to concate the new value to new string in the specific position of the given string
r="haii are you"
r[0:4]+'how'+r[4:]

r[0:4+1]+"how"+r[4:]

'haii how are you'

In [579]:
# was to cancat the new value into the string of the given list
l=[1,2,3] 
id(l)
l=['a','b']+l
id(l)
print(l)

l[0:0]=['a','b']

['a', 'b', 1, 2, 3]

In [580]:
# was  to concat the new value into the ending of the given list
r=['a','b','c']
r=r+[10,20]
print(r)

y=['ramu', 'seetha']
y+=['krishna','radha']
print(y)

['a', 'b', 'c', 10, 20]
['ramu', 'seetha', 'krishna', 'radha']

In [581]:
# was to concat the new value into the middle of the given list
l=[10,150.13,True,"haii"]
l[len(l)//2:len(l)//2]=['10','20']
print(l)

[10, 150.13, '10', '20', True, 'haii']

In [582]:
# was to concat the new value into the specofic position of the given list
l=[10,153.4,True,"haii"]
l[2:2]=[100,200]
print(l)

[10, 153.4, 100, 200, True, 'haii']

In [583]:
# was to modify the new value into the specific position of given list
l=[10,153.4,True,"haii"]
l[1]=15+6j
print(l)

[10, (15+6j), True, 'haii']

In [584]:
# was to modify the new value into the staring of the given list
l=[10,15+6j,True,"haii"]
l[0]=180
print(l)

[180, (15+6j), True, 'haii']

In [585]:
# was to modify the new value into the ending of the given list
l=[10,15+6j,True,"haii"]
l[-1]="hello world"
print(l)

[10, (15+6j), True, 'hello world']

In [586]:
# was to modify the new value into the middle of given list
l=[10,15+6j,True,"haii"]
l[len(l)//2]=["abc","cde"]
print(l)

[10, (15+6j), ['abc', 'cde'], 'haii']

In [587]:
# was to  modify the first 4 position values into a given list
k=[1,2,3,4,5,6,7,8,9]
k[0:4]=['a','b','c','d']
print(k)

['a', 'b', 'c', 'd', 5, 6, 7, 8, 9]

In [588]:
# was to modufy the sequence of value into a given list
k=[1,2,3,4,5,6,7,8,9]
k[0:7:2]=['a','b','c','d']
print(k)

['a', 2, 'b', 4, 'c', 6, 'd', 8, 9]

In [589]:
# was to delete the value in the specific  position of the given list
k=[1,2,3,4,5,6,7,8,9]
del k[4]
print(k)

[1, 2, 3, 4, 6, 7, 8, 9]

In [590]:
# was to delete the value in the new value into the ending of the  list
k=[1,2,3,4,5,6,7,8,9]
del k[-1] 
print(k)

[1, 2, 3, 4, 5, 6, 7, 8]

In [542]:
# was to delete the middle of the list
k=[1,2,3,4,5,6,7,8,9]
del k[len(k)//2] 
print(k)

[1, 2, 3, 4, 6, 7, 8, 9]

In [543]:
# was to concat the value into string of the tuple
b=(1,2,4,5,6,3)
b=(7,8)+b
print(b)

(7, 8, 1, 2, 4, 5, 6, 3)

In [544]:
# was to concat the value into middle of the tuple
k=(1,2,3,4,5,6)
len(k)//2
k=k[:3]+(7,8)+k[3::]

In [545]:
# was to cancate the value into  the ending of the tuple
k=(1,2,3,4,5,6)
k=k+(7,8)
print(k)

(1, 2, 3, 4, 5, 6, 7, 8)

In [591]:
# was to modify the sequence of values in given tuple
k=(1,2,3,4,5,6)
k=k[0:3]+(7.8,)+k[3:]
print(k)

(1, 2, 3, 7.8, 4, 5, 6)

In [593]:
# was to delete the sequence of values in given tuple
k=(1,2,3,4,5,6)
k=k[0:3]+k[4:]
print(k)

(1, 2, 3, 5, 6)

In [598]:
# was to cancat the new value  into the set
s={1,2,3,4,5,6}
id(s)
s=s|{10,20,"a"}
print(s)
id(s)

{1, 2, 3, 4, 5, 6, 10, 20, 'a'}

2511973884064

In [601]:
# was to delete the specific value into the set
s={1,2,3,4,5,6,10,20,"A"}
id(s)
s=s-{4,5,6}
print(s)

{1, 2, 3, 'A', 10, 20}

In [603]:
# was to concate the new key and value into the dict
s={"hai":"bye","good":"bad","life":"am"}
s["happy"]="sad"
print(s)

{'hai': 'bye', 'good': 'bad', 'life': 'am', 'happy': 'sad'}

In [606]:
# was to delete the specific key and value in the given dict 
d={'a':150, 'b':750,'c':500,'d':780}
del d['c']
print(d)

{'a': 150, 'b': 750, 'd': 780}

In [608]:
# was to modify the specific value in the given dict
d={'e':150, 'b':750,'c':500,'d':780}
d["e"]=100
print(d)

{'e': 100, 'b': 750, 'c': 500, 'd': 780}

In [610]:
# was to concate the list value and tuple values by using tupe casting
l=['a','b','c']
t=(10,30,40)
l+ list(t)

['a', 'b', 'c', 10, 30, 40]

In [612]:
# was to cancate the list value and tuple value without using typecasting
l=['a','b','c']
t=(10,30,40)
l+=t
print(l)

['a', 'b', 'c', 10, 30, 40]

In [615]:
# was to check the given number is divisible by 3
n=9
res=n%3
print(res)
res==0

0

True

In [ ]:
# was to check the given number ids divible by 2 and 6