In [16]:
m=1
n=100000
te =n

while m<=n:
    count=0
    temp=te
    while temp:
        count+=1
        temp=temp//10
    x=n
    sum=0
    while x:
        ld=x % 10
        sum+=ld**count
        x=x//10
    if sum==m:
        print(m)
    m+=1

1

In [17]:
strat=1
end=10000

while strat<=end:
    n=strat
    temp=n
    sum=0
    prod=1
    while n:
        ld=n%10
        sum+=ld
        prod*=ld
        n=n//10
    if sum==prod:
      print(temp)
    strat+=1

1
2
3
4
5
6
7
8
9
22
123
132
213
231
312
321
1124
1142
1214
1241
1412
1421
2114
2141
2411
4112
4121
4211

In [18]:
m=1 
n=10000 
while m<=n:
    te=m
    rev=0
    temp=te
    
    while te:
        ld=te%10
        rev=(rev*10)+ld
        te=te//10
    if rev==temp:
     print(m)
    m+=1

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999
1001
1111
1221
1331
1441
1551
1661
1771
1881
1991
2002
2112
2222
2332
2442
2552
2662
2772
2882
2992
3003
3113
3223
3333
3443
3553
3663
3773
3883
3993
4004
4114
4224
4334
4444
4554
4664
4774
4884
4994
5005
5115
5225
5335
5445
5555
5665
5775
5885
5995
6006
6116
6226
6336
6446
6556
6666
6776
6886
6996
7007
7117
7227
7337
7447
7557
7667
7777
7887
7997
8008
8118
8228
8338
8448
8558
8668
8778
8888
8998
9009
9119
9229
9339
9449
9559
9669
9779
9889
9999

In [19]:
n=1998
while n>9:
    sum=0
    remp=n
    while n:
        ld=n%10
        sum+=ld
        n=n//10
    print(sum)
    n=sum

27
9

In [20]:
n=5465869880
t=n
count=0
while n:
    count+=1
    n=n//10
print(count)
count=count//2
while count:
        t=t//10
        count-=1
ld=t%10
print(ld)

10
8

In [21]:
num=1594128
res=num%10
while num%10:
    m=num%10
    res-=m
    num=num//10
print(res)

-22

In [1]:
m=1 
n=143
count=0
while m<=n:
    if n%m==0:
      count+=1
      m+=1
print(count)
if count==2:
  print("prime num")
else:
   print("not prime num")

In [ ]:
n=121
temp=n
rev=0
while n:
    ld=n%10
    rev=(rev*10)+ld
    n=n//10
print(rev)
if rev==temp:
    print("panidrom")
else:
    print("not")

121
panidrom

In [2]:
#1 wap to print the "helloworld" for 5 times by using a while loop.
n=5
i=0
while i<n:
    print("hello world")
    i+=1

hello world
hello world
hello world
hello world
hello world

In [3]:
# 2 wap to print the number from 1 to 10 by using a while loop
n=10
i=0
while i<=n:
     print(i)
     i+=1

0
1
2
3
4
5
6
7
8
9
10

In [7]:
# 3 wap to print the natural number until 1 to nth times by using a while loop.
n=17
m=1
while m<=n:
    print(m)
    m+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [2]:
# 4 wap to print the reverse of the natural number nth to 0 times by using while loop.
m=0
n=int(input()) 
while n>=m:
    print(n)
    n-=1

7
6
5
4
3
2
1
0

In [3]:
# 5 wap to print the whole number until nth times  by using while loop.
n=int(input())
i=0
while i<=n:
    print(i)
    i+=1

0
1
2
3
4
5
6
7

In [4]:
#6wap to print the  reverse of the whole number until nth times  by using while loop.
n=int(input())
i=0
while n>=i:
    print(n)
    n-=1

8
7
6
5
4
3
2
1
0

In [1]:
#7 wap to print the  even number until nth times  by using while loop.
n=int(input())
i=0
while i<=n:
    if i%2==0:
      print(i)
    i+=1

0
2
4
6
8

In [7]:
#8wap to print the reverse even number until nth times  by using while loop.
n=int(input())
i=0
while n>=i:
    if n%2==0:
        print(n)
    n-=1

8
6
4
2
0

In [8]:
#9wap to print the odd number until nth times  by using while loop.
i=0
n=int(input())
while i<=n:
     if i%2!=0:
         print(i)
     i+=1

1
3
5
7

In [9]:
# 10wap to print the  reverse odd number until nth times  by using while loop.
n=int(input())
i=0
while n>=i:
    if n%2!=0:
        print(n)
    n-=1

7
5
3
1

In [28]:
# 11 wap to print the nth table 1 to 20 , format 5*1=5....5*20=100
i=1
n=int(input())
while i<=20:
       res=n*i
       print(res)
       i+=1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [2]:
# 12 wap to print the nth table 20 to 1 , format 5*1=5....5*20=100
i=20
n=int(input())
while i<=20 or i<=1:
       res=n*i
       print(res)
       i-=1

In [ ]:
# 13 wap to print the numbers which are divisible by 3 from 25 to 66.